html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Helvetica, Georgia;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0 auto;
  width: 41.25em;

  @media screen and (max-width: 39.06em){
    width: 20em;
  }
}
ol, ul {
  list-style: none;
}
h1 {
  font-size: 3.157em;
  font-weight: 500;
  opacity: .7;
  text-align: center;
}
/*======= Tab Container ======*/
.tab-container {
  position: relative;
  top: 4.70em;
  width: 85%;
  margin: 0 auto;
  clear: both;
  padding: 1.38em 1.75em 2.38em 2.75em;
  text-align: center;

  @media screen and (max-width: 39.06em){
    overflow: hidden;
    width: initial;
    padding: 0;
    font-size: 0.875em;
  }

}


/*====== Tabs ======*/
.tab {
  float: left;

  & .tab_label {
    position: relative;
    background: #fff;
    border: 1px solid #000;
    margin-right: -.2em;
    left: .062em;
    transition: all linear 0.15s;
    font-size: 1.13em;
    text-transform: uppercase;
    letter-spacing: .1em;


    &--fit-guide {
      padding: 0.42em 2.1em 0.42em 2.1em;

    }

    &--care {
      padding: 0.42em 3.35em 0.42em 3.35em;

    }

    &--materials {
      padding: 0.42em 1.75em 0.42em 1.65em;
    }
  }

  & .tab_accordion {
    display: none;
  }


  @media screen and (max-width: 39.06em){
    float: none;
    text-align: left;
    margin-top: 1em;
    border-bottom: 1px solid #000;
    transition: height 0.15s linear;

    & .tab_label {
      padding: 0; /*15px;*/
      display: inline-block;
      margin-top: -0.1em;
      border: none;
    }

    & .tab_accordion {
      display: inline;
      position: relative;
      cursor: pointer;
      bottom: .25em;
      left: 14.45em;

      &--care-tab {
        left: 17.35em;
      }

      &--materials-tab {
        left: 13.5em;
      }
    }
  }
}

[type=radio] {
  display: none;


  &:checked ~ .tab_label {
    z-index: 2;
    background: #000;
    color: #fff;

    @media screen and (max-width: 39.06em){
      background: none;
      color: #000;
    }
  }

  &:checked ~ .tab_label ~ .tab_content {
    z-index: 1;
  }
}


.tab_content {
  position: absolute;
  background: white; /* necessary to hide other tab_content */
  overflow: hidden;
  top: 4em;
  left: 0;
  right: 0;
  padding: 9em 0 3em 0;

  &--fit-guide-tab {
    padding: 6.75em 0 6em 0;
  }

  &--care-tab {
    padding: 6.75em 0 6em 0;
  }

  @media screen and (max-width: 39.06em){
    display: none;
    padding: .9375em;
  }
}

/*
======For actual content styling======
    padding-bottom: 6em;
    font-size: .81em;
*/

/*====== Materials Tab Content ======*/
.mats_percent {
  position: relative;
  float: left;
  cursor: pointer;
  bottom: 2em;
  right: 1em;
  margin-left: 2em;

  &:hover {
    border-bottom: 1px solid #000;
    transition: all linear 1.5s;
  }
}

.mats {
  font-size: 50%;
  display: block;

}

.mats_info {
  font-size: 0.81em;
  float: left;
  position: relative;
  bottom: 5em;
  letter-spacing: .0525em;
}
